This is where my work lives.

In [ ]:
import pandas as pd

In [18]:
jan = pd.read_csv('Resources/202001-citibike-tripdata.csv')
feb = pd.read_csv('Resources/202002-citibike-tripdata.csv')
mar = pd.read_csv('Resources/202003-citibike-tripdata.csv')
apr = pd.read_csv('Resources/202004-citibike-tripdata.csv')
may = pd.read_csv('Resources/202005-citibike-tripdata.csv')
jun = pd.read_csv('Resources/202006-citibike-tripdata.csv')
jul = pd.read_csv('Resources/202007-citibike-tripdata.csv')
aug = pd.read_csv('Resources/202008-citibike-tripdata.csv')
sep = pd.read_csv('Resources/202009-citibike-tripdata.csv')
octo = pd.read_csv('Resources/202010-citibike-tripdata.csv')
nov = pd.read_csv('Resources/202011-citibike-tripdata.csv')
dec = pd.read_csv('Resources/202012-citibike-tripdata.csv')

jan.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

In [19]:
jf = jan.append(feb)

jf.dropna()

jfm = jf.append(mar)

jfm.dropna()

jfma = jfm.append(apr)

jfma.dropna()

jfmam = jfma.append(may)

jfmam.dropna()

jfmamj = jfmam.append(jun)

jfmamj.dropna()

jfmamjj = jfmamj.append(jul)

jfmamjj.dropna()

jfmamjja = jfmamjj.append(aug)

jfmamjja.dropna()

jfmamjjas = jfmamjja.append(sep)

jfmamjjas.dropna()

jfmamjjaso = jfmamjjas.append(octo)

jfmamjjaso.dropna()

jfmamjjason = jfmamjjaso.append(nov)

jfmamjjason.dropna()

full_dataset = jfmamjjason.append(dec)

full_dataset.dropna()

full_dataset.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1