This is where my work lives.

In [10]:
import pandas as pd

In [11]:
#Read in each month csv

jan = pd.read_csv('Resources/202001-citibike-tripdata.csv')
feb = pd.read_csv('Resources/202002-citibike-tripdata.csv')
mar = pd.read_csv('Resources/202003-citibike-tripdata.csv')
apr = pd.read_csv('Resources/202004-citibike-tripdata.csv')
may = pd.read_csv('Resources/202005-citibike-tripdata.csv')
jun = pd.read_csv('Resources/202006-citibike-tripdata.csv')

KeyboardInterrupt:

In [ ]:
#For each month, append the next month, then drop all null values from the resulting data frame

jf = jan.append(feb)

jf.dropna()

jfm = jf.append(mar)

jfm.dropna()

jfma = jfm.append(apr)

jfma.dropna()

jfmam = jfma.append(may)

jfmam.dropna()

full_dataset = jfmam.append(jun)

full_dataset.dropna()

full_dataset.columns = ['tripduration', 'starttime', 'stoptime', 'start_stationid', 'start_stationname', 'start_stationlat', 'start_stationlon', 
             'end_stationid', 'end_stationname', 'end_stationlat', 'end_stationlon', 'bikeid', 'usertype', 'birthyear', 'gender']

In [ ]:
#Split the start and stop time columns in two, then place the date values into a new column
datetime = full_dataset["starttime"].str.split(" ", n = 1, expand = True) 

full_dataset['startdate'] = datetime[0]

enddatetime = full_dataset["stoptime"].str.split(" ", n = 1, expand = True) 

full_dataset['stopdate'] = enddatetime[0]

In [ ]:
#Get age by substrction birth year from 2020
full_dataset['age'] = 2020 - full_dataset['birthyear']

In [ ]:
#Get time in minutes by dividing time in seconds by 60
full_dataset['duration(min)'] = round(full_dataset['tripduration']/60, 2)

full_dataset

In [7]:
del full_dataset['tripduration']
del full_dataset['starttime']
del full_dataset['stoptime']
del full_dataset['start_stationid']
del full_dataset['end_stationid']
del full_dataset['birthyear']

full_dataset

,start_stationname,start_stationlat,start_stationlon,end_stationname,end_stationlat,end_stationlon,bikeid,usertype,gender,startdate,stopdate,age,duration(m)
0,E 2 St & Avenue A,40.723077,-73.985836,E 23 St & 1 Ave,40.736502,-73.978095,15162,Subscriber,2,2020-04-01,2020-04-01,30,8.90
1,Central Park West & W 68 St,40.773407,-73.977825,Columbus Ave & W 95 St,40.791956,-73.968087,42861,Subscriber,1,2020-04-01,2020-04-01,46,8.82
2,Columbus Ave & W 72 St,40.777057,-73.978985,31 Ave & Crescent St,40.765835,-73.926547,35989,Subscriber,1,2020-04-01,2020-04-01,38,24.80
3,Halsey St & Broadway,40.685650,-73.915640,Van Buren St & Broadway,40.692000,-73.926170,37548,Subscriber,1,2020-04-01,2020-04-01,24,5.68
4,Grove St & Broadway,40.690470,-73.923511,Lewis Ave & Kosciuszko St,40.692371,-73.937054,39701,Subscriber,1,2020-04-01,2020-04-01,43,36.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1882268,E 20 St & Park Ave,40.738274,-73.987520,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,2,2020-06-30,2020-07-01,27,11.42
1882269,W 50 St & 9 Ave,40.763605,-73.989180,W 38 St & 8 Ave,40.754666,-73.991382,30164,Customer,0,2020-06-30,2020-07-01,51,7.43
1882270,W 50 St & 9 Ave,40.763605,-73.989180,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,1,2020-06-30,2020-07-01,34,7.32
1882271,Stewart Ave & Johnson Ave,40.708690,-73.925870,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,1,2020-06-30,2020-07-01,26,14.83
1882272,DeKalb Ave & Hudson Ave,40.689888,-73.981013,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,1,2020-06-30,2020-07-01,30,7.22

In [9]:
clean_df = full_dataset[['duration(min)', 'startdate', 'stopdate', 'start_stationname', 'start_stationlat', 
             'start_stationlon', 'end_stationname', 'end_stationlat', 'end_stationlon', 
             'bikeid', 'usertype', 'age', 'gender' ]]

clean_df

,duration(m),startdate,stopdate,start_stationname,start_stationlat,start_stationlon,end_stationname,end_stationlat,end_stationlon,bikeid,usertype,age,gender
0,8.90,2020-04-01,2020-04-01,E 2 St & Avenue A,40.723077,-73.985836,E 23 St & 1 Ave,40.736502,-73.978095,15162,Subscriber,30,2
1,8.82,2020-04-01,2020-04-01,Central Park West & W 68 St,40.773407,-73.977825,Columbus Ave & W 95 St,40.791956,-73.968087,42861,Subscriber,46,1
2,24.80,2020-04-01,2020-04-01,Columbus Ave & W 72 St,40.777057,-73.978985,31 Ave & Crescent St,40.765835,-73.926547,35989,Subscriber,38,1
3,5.68,2020-04-01,2020-04-01,Halsey St & Broadway,40.685650,-73.915640,Van Buren St & Broadway,40.692000,-73.926170,37548,Subscriber,24,1
4,36.77,2020-04-01,2020-04-01,Grove St & Broadway,40.690470,-73.923511,Lewis Ave & Kosciuszko St,40.692371,-73.937054,39701,Subscriber,43,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1882268,11.42,2020-06-30,2020-07-01,E 20 St & Park Ave,40.738274,-73.987520,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,27,2
1882269,7.43,2020-06-30,2020-07-01,W 50 St & 9 Ave,40.763605,-73.989180,W 38 St & 8 Ave,40.754666,-73.991382,30164,Customer,51,0
1882270,7.32,2020-06-30,2020-07-01,W 50 St & 9 Ave,40.763605,-73.989180,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,34,1
1882271,14.83,2020-06-30,2020-07-01,Stewart Ave & Johnson Ave,40.708690,-73.925870,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,26,1
1882272,7.22,2020-06-30,2020-07-01,DeKalb Ave & Hudson Ave,40.689888,-73.981013,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,30,1